<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><b class="text-info">Student Behavior Tracker</b></a>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container-fluid">
    <h1>Log In</h1>
      <%= form_for :session, url: login_path do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Log In" %>

      <% end %><br><br>


<%= link_to "Create New User", new_user_path, class: "btn btn-success" %>
  </div>
</div>
