
<div class='col-md-7'>
  <form class="form-horizontal">
    <%= form_for ([@classroom, @student, @observation]) do |f| %>
    <fieldset>

      <div class="form-group">
        <label class="col-lg-2 control-label"><%= f.label :behavior_id, 'Behavior' %></label>
        <div class="col-lg-10">
        <%= f.collection_select(:behavior_id, Behavior.all, :id, :keyword, :include_blank => "Other behavior") %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">  <%= f.label :date %></label>
        <div class="col-lg-10">
          <%= f.date_field :date %>
        </div>
      </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">  <%= f.label :time %></label>
          <div class="col-lg-10">
            <%= f.time_field :time %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">  <%= f.label :duration %></label>
          <div class="col-lg-10">
            <%= f.text_field :duration%>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">  <%= f.label :location %></label>
          <div class="col-lg-10">
            <%= f.text_field :location%>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">  <%= f.label :logged_by %></label>
          <div class="col-lg-10">
            <%= f.text_field :logged_by%>
          </div>
        </div>


        <div class="form-group">
          <label class="col-lg-2 control-label">  <%= f.label :comments %></label>
          <div class="col-lg-10">
            <%= f.text_area :comments%>
          </div>
        </div>

        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= f.submit %>
          </div>
        </div>

    </fieldset>
  </form>
  <% end %>
</div>
