<nav class="navbar navbar-default">
  <div class="container-fluid">
      <a class="navbar-brand"> <h3 class="text-info">Student Behavior Tracker</h3></a>
      <ul class="nav navbar-nav navbar-right">

              <h4 class="btn-group"><%= link_to "Return to #{@student.classroom.teacher}'s enitre class", classroom_path(@student.classroom), class: "btn btn-success" %></h4>
              <h4 class="btn-group"><%= link_to "Return to all Classrooms", classrooms_path, class: "btn btn-success" %></h4>

            </ul>
  </div>
</nav><br><br>


<h1>Name: <%= @student.name %></h1>
<h4>Teacher: <%= @student.classroom.teacher %></h4><br>

<% target_behaviors = @student.student_target_behaviors.map { |tb| @behaviors.find(tb.behavior_id).keyword } %>
<% target_behavior_descriptions = @student.student_target_behaviors.map { |tb| tb.student_specific_description } %>






<div class='col-md-4'>

<table class="panel panel-info">
  <tbody>
    <tr class="panel-heading">
      <th class="panel-title"> <% target_behaviors.each  do |behavior| %>
        <%= "TARGET BEHAVIOR: #{behavior}" %>
      <% end %></th>
    </tr>
    <tr class="panel-body">
    <%= target_behavior_descriptions.each do |description| %>

      <td><%=  description  %></td>
      <% end  %></tr>
    <!-- EDIT/DELETE Student -->

  </tbody>
  </table>

</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">TARGET BEHAVIOR 2</h3>
  </div>
  <div class="panel-body">
    Description of the behavior specific to the student
  </div>
</div>





<h3>Record behavior <%= link_to "New observation", new_classroom_student_observation_path(@classroom, @student), class: "btn btn-warning" %></h3>
